<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=car.name%></title>
    <link rel="stylesheet" href="/stylesheets/show.css" />

</head>
<body>
    <h1><%=car.name%></h1>
    <p><%=car.price%></p>

<form action="/cars/<%=car._id %>"method="Post">
    <button type="submit">Delete</button>
</form>
<a href="/cars/<%=car._id %>/edit">Edit</a>

</body>
</html>